<div class="c-main-div">
    <div class="right-div">
        <div class="button-group-div">
            <button class="button-group-item-first">
                <a>Default</a>
            </button>
            <button class="button-group-item">
                <a>Default</a>
            </button>
            <button class="button-group-item-last">
                <a>Default</a>
            </button>
        </div>
        <div class="button-group-div">
            <button class="button-group-item-first-hover">
                <a>Hover</a>
            </button>
            <button class="button-group-item-hover">
                <a>Hover</a>
            </button>
            <button class="button-group-item-last-hover">
                <a>Hover</a>
            </button>
        </div>
        <div class="button-group-div">
            <button class="button-group-item-first-active">
                <a>Active</a>
            </button>
            <button class="button-group-item-active">
                <a>Active</a>
            </button>
            <button class="button-group-item-last-active">
                <a>Active</a>
            </button>
        </div>
        <div class="button-group-div">
            <button class="button-group-item-first-selected">
                <a>Selected</a>
            </button>
            <button class="button-group-item-selected">
                <a>Selected</a>
            </button>
            <button class="button-group-item-last-selected">
                <a>Selected</a>
            </button>
        </div>
        <div class="button-group-div">
            <button class="button-group-item-first-disabled">
                <a>Disabled</a>
            </button>
            <button class="button-group-item-disabled">
                <a>Disabled</a>
            </button>
            <button class="button-group-item-last-disabled">
                <a>Disabled</a>
            </button>
        </div>
    </div>
</div>