<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Alerts</label>
        </div>
        <div class="false-window">
            <app-alert-4 class="alert"></app-alert-4>
            <app-alert-1 class="alert"></app-alert-1>
            <app-alert-2 class="alert"></app-alert-2>
            <app-alert-3 class="alert"></app-alert-3>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Alerts with link</label>
        </div>
        <div class="false-window">
            <app-alert-link-1 class="alert"></app-alert-link-1>
            <app-alert-link-2 class="alert"></app-alert-link-2>
            <app-alert-link-3 class="alert"></app-alert-link-3>
            <app-alert-link-4 class="alert"></app-alert-link-4>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Alerts with icons and alert label</label>
        </div>
        <div class="false-window">
            <app-alert-icon-1 class="alert"></app-alert-icon-1>
            <app-alert-icon-2 class="alert"></app-alert-icon-2>
            <app-alert-icon-3 class="alert"></app-alert-icon-3>
            <app-alert-icon-4 class="alert"></app-alert-icon-4>
        </div>
    </div>
</div>




