<div class="c-main-div">
    <!-- <div class="left-div">
        <label class="label-2">Point notifications</label>
    </div> -->
    <div class="right-div">
        <button class="button">
            <a>Default</a>
            <span class="button-point-span">10+</span>
        </button>
        <button class="button-hover">
            <a>Hover</a>
            <span class="button-point-span-hover">10+</span>
        </button>
        <button class="button-active">
            <a>Active</a>
            <span class="button-point-span-active">10+</span>
        </button>
        <button class="button-selected">
            <a>Selected</a>
            <span class="button-point-span-selected">10+</span>
        </button>
        <button class="button-disabled">
            <a>Disabled</a>
            <span class="button-point-span-disabled">10+</span>
        </button>
    </div>
</div>