<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Right then down dropdown</label>
        </div>
        <div class="false-window">
            <app-dropdown-right-1 class="dropdown"></app-dropdown-right-1>
        </div>
        <div class="c-example-title-div">
            <label>Right then up dropdown</label>
        </div>
        <div class="false-window">
            <app-dropdown-right-2 class="dropdown"></app-dropdown-right-2>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Down then right dropdown</label>
        </div>
        <div class="false-window">
            <app-dropdown-down-1 class="dropdown"></app-dropdown-down-1>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Down then left dropdown</label>
        </div>
        <div class="false-window">
            <app-dropdown-down-2 class="dropdown"></app-dropdown-down-2>
        </div>
    </div>
</div>


