<div class="c-main-div">
    <div class="right-div">
        <button class="button">
            <a class="buttan-a">Default</a>
            <span class="button-span">10+</span>
        </button>
        <button class="button-hover">
            <a class="buttan-a-hover">Hover</a>
            <span class="button-span-hover">10+</span>
        </button>
        <button class="button-active">
            <a class="buttan-a-active">Active</a>
            <span class="button-span-active">10+</span>
        </button>
        <button class="button-selected">
            <a class="buttan-a-selected">Selected</a>
            <span class="button-span-selected">10+</span>
        </button>
        <button class="button-disabled">
            <a class="buttan-a-disabled">Disabled</a>
            <span class="button-span-disabled">10+</span>
        </button>
    </div>
</div>