<div class="c-main-div">
    <div class="right-div">
        <button class="button">
            <a>Default</a>
            <span>10+</span>
        </button>
        <button class="button-hover">
            <a>Hover</a>
            <span>10+</span>
        </button>
        <button class="button-active">
            <a>Active</a>
            <span>10+</span>
        </button>
        <button class="button-selected">
            <a>Selected</a>
            <span>10+</span>
        </button>
        <button class="button-disabled">
            <a>Disabled</a>
            <span>10+</span>
        </button>
    </div>
</div>