@import '../../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;

.c-main-div
{
    border: 1px solid $dark-theme-l12;
    height: 30rem;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: $background-color;
}

.input-folder
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    label {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        background-color: $background-color;
        border-radius: 0.375rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $font-default-color;
    }

    span {
        font-weight: bold;
    }

    &:hover label {
        background-color: lighten($background-color, 3%);
    }
}

ngx-monaco-editor
{
    flex-grow: 1;
    width: 100%;
}

// .codeEditor
// {
//     .editor-container {
//         height: 100%;
//         width: 100%;
//     }
// }