<div class="c-main-div">
    <div class="left-div">
        <label class="label-2">Background color: lighten 18%</label>
    </div>
    <div class="right-div">
        <div class="col-div">
            <button class="button">
                <a>Default</a>
            </button>
        </div>
        <div class="col-div">
            <button class="button-hover">
                <a>Hover</a>
            </button>
        </div>
        <div class="col-div">
            <button class="button-active">
                <a>Active</a>
            </button>
        </div>
        <div class="col-div">
            <button class="button-selected">
                <a>Selected</a>
            </button>
        </div>
        <div class="col-div">
            <button class="button-disabled">
                <a>Disabled</a>
            </button>
        </div>
    </div>
</div>
