<div class="c-main-div">
    <ul class="sidebar-main-ul">
        <li class="sidebar-li-group">
            <div class="sidebar-li-itemIcon">
                <svg class="sidebar-li-itemIcon-icon"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 -960 960 960">
                     <path d="M120-520v-320h320v320H120Zm0 400v-320h320v320H120Zm400-400v-320h320v320H520Zm0 400v-320h320v320H520ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Zm400-400Zm0 240Zm-240 0Zm0-240Z"/>
                </svg>
                <a routerLink="/layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">Navigation</a>
                <svg class="sidebar-li-itemIcon-arrowlefticon"
                     xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 -960 960 960">
                     <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
                </svg>
            </div>
            <div class="sidebar-li-item-childs-div">
                <ul class="sidebar-child-ul">
                    <li class="sidebar-li-group">
                        <div class="sidebar-li-item">
                            <a routerLink="/layouts/horizontal-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">Navbar</a>
                        </div>
                        <!-- <div class="sidebar-li-item-childs-div">
                            <ul class="sidebar-child-ul">
                                <li class="sidebar-li-group">
                                    <div class="sidebar-li-item">
                                        <a routerLink="/layouts/horizontal-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">Horizontal layouts</a>
                                    </div>
                                </li>
                                <li class="sidebar-li-group">
                                    <div class="sidebar-li-item">
                                        <a routerLink="/layouts/vertical-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">Vertical layouts</a>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </li>
                    <li class="sidebar-li-group">
                        <div class="sidebar-li-item">
                            <a routerLink="/layouts/vertical-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">Sidebar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-li-group">
            <div class="sidebar-li-itemIcon">
                <svg class="sidebar-li-itemIcon-icon"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 -960 960 960">
                     <path d="M120-520v-320h320v320H120Zm0 400v-320h320v320H120Zm400-400v-320h320v320H520Zm0 400v-320h320v320H520ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Zm400-400Zm0 240Zm-240 0Zm0-240Z"/>
                </svg>
                <a href="" class="sidebar-li-item-a">Grids</a>
            </div>
        </li>
    </ul>
</div>

