@import "../../shared/styles/colors.scss";

.c-main-div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sidebar-main-ul
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
}

.sidebar-li-group
{
    height: fit-content;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-li-itemIcon
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    border: 1px solid lightgray;
}

.sidebar-li-itemIcon:hover
{
    background-color: rgba(black, 0.3);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-itemIcon:active
{
    background-color: rgba(black, 0.5);
    fill: $font-active-color;
    color: $font-active-color;
}

.sidebar-li-item
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5rem;
    background-color: transparent;
    border: 1px solid lightgray;
    color: $font-default-color;
}

.sidebar-li-item:hover
{
    background-color: rgba(black, 0.3);
    color: $font-hover-color;
}

.sidebar-li-item:active
{
    background-color: rgba(black, 0.5);
    color: $font-active-color;
}

.sidebar-li-itemIcon-icon
{
    height: 1.2rem;
    width: 1.2rem;
}

.sidebar-li-itemIcon-arrowlefticon
{
    height: 1.2rem;
    width: 1.2rem;
}

.sidebar-li-item-a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    flex-grow: 1;
}

//Childs div-ul ------------------------------------------------------------------------------------------------
.sidebar-li-item-childs-div
{
    width: calc(100% - 1rem);
    padding: 0rem;
    margin: 0rem;
    padding-top: 0rem;
    padding-left: 1rem;
}

.sidebar-child-ul
{
    width: 100%;
    height: fit-content;
    list-style-type: none;
    padding: 0rem;
    border: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
}



