<ul class="vnb-ul">
    <li class="vnb-li-g">
        <div class="vnb-it-i-div">
            <svg class="vnb-it-i"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M120-520v-320h320v320H120Zm0 400v-320h320v320H120Zm400-400v-320h320v320H520Zm0 400v-320h320v320H520ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Zm400-400Zm0 240Zm-240 0Zm0-240Z"/>
            </svg>
            <a routerLink="/layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="vnb-it-a">Layouts</a>
        </div>
        <div class="vnb-it-ch-div">
            <ul class="vnb-ul-c">
                <li class="vnb-li-g">
                    <div class="vnb-it-div">
                        <a routerLink="/layouts/horizontal-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="vnb-it-a">Horizontal layouts</a>
                    </div>
                    <div class="vnb-it-ch-div">
                        <ul class="vnb-ul-c">
                            <li class="vnb-li-g">
                                <div class="vnb-it-div">
                                    <a routerLink="/layouts/horizontal-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="vnb-it-a">Horizontal layouts</a>
                                </div>
                            </li>
                            <li class="vnb-li-g">
                                <div class="vnb-it-div">
                                    <a routerLink="/layouts/vertical-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="vnb-it-a">Vertical layouts</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="vnb-li-g">
                    <div class="vnb-it-div">
                        <a routerLink="/layouts/vertical-layouts" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="vnb-it-a">Vertical layouts</a>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="vnb-li-g">
        <div class="vnb-it-i-div">
            <svg class="vnb-it-i"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M120-520v-320h320v320H120Zm0 400v-320h320v320H120Zm400-400v-320h320v320H520Zm0 400v-320h320v320H520ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Zm400-400Zm0 240Zm-240 0Zm0-240Z"/>
            </svg>
            <a href="" class="vnb-it-a">Grids</a>
        </div>
    </li>
</ul>
