<div class="c-main-div">
    <!-- <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Code input</label>
        </div>
        <div class="false-window">
            <app-code-input-1 class="app-button"></app-code-input-1>
        </div>
    </div> -->
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Code input</label>
        </div>
        <div class="false-window">
            <app-code-input-2 class="app-button"></app-code-input-2>
        </div>
    </div>
</div>
