@import '../../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;

.c-main-div
{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    border: 1px solid lighten($background-color, 12%);
    padding: 0.5rem;
    border-radius: 0.375rem;
    gap: 0.5rem;
}

.table
{
    border-radius: 0.375rem;
    border-spacing: 0rem;
    border-collapse: separate;
    border: 1px solid lighten($background-color, 12%);
    overflow: hidden;
    font-size: 0.875rem;
    color: $font-default-color;
    width: 100%;
}

// .table th:not(:last-child),
// .table td:not(:last-child)
// {
//     // border-right: 1px solid lighten($background-color, 12%);
// }

.table > thead > tr:not(:last-child) > th,
.table > thead > tr:not(:last-child) > td,
.table > tbody > tr:not(:last-child) > th,
.table > tbody > tr:not(:last-child) > td,
.table > tfoot > tr:not(:last-child) > th,
.table > tfoot > tr:not(:last-child) > td,
.table > tr:not(:last-child) > td,
.table > tr:not(:last-child) > th,
.table > thead:not(:last-child),
.table > tbody:not(:last-child),
.table > tfoot:not(:last-child) 
{
    border-bottom: 1px solid lighten($background-color, 12%);
}

td
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: left;
}

.table-th
{
    background-color: lighten($background-color, 12%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: left;
}

tr:nth-child(even)
{
    background-color: lighten($background-color, 3%);
}

tr:nth-child(even):hover
{
    background-color: lighten($background-color, 6%);
}

tr:nth-child(odd):hover
{
    background-color: lighten($background-color, 3%);
}

.table-header-div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.table-name-label
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.3rem;
    color: $font-default-color;
}

.table-footer-div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem; 
    cursor:pointer;
    color: $font-default-color;
    fill: $font-default-color;
    appearance: none;
    border: none;
    background-color: lighten($background-color, 9%);
}

.button-icon
{
    box-sizing: border-box;
    height: 1.1rem;
    width: 1.1rem;
}

.button:hover
{
    background-color: lighten($background-color, 12%);
    color: $font-hover-color;
    fill: $font-hover-color;
}

.button:active
{
    background-color: lighten($background-color, 15%);
    color: $font-active-color;
    fill: $font-active-color;
}



