<div class="c-main-div">
    <div class="table-header-div">
        <label class="table-name-label">Contacts</label>
    </div>
    <table class="table">
        <thead class="table-header">
            <tr>
                <th class="table-th">#id</th>
                <th class="table-th">firstname</th>
                <th class="table-th">lastname</th>
                <th class="table-th">phone</th>
                <th class="table-th">mail</th>
                <th class="table-th">street</th>
                <th class="table-th">number</th>
                <th class="table-th">postal code</th>
                <th class="table-th">locality</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr *ngFor="let contact of contacts; let i=index">
                <td>{{i + 1}}</td>
                <td>{{contact.firstname}}</td>
                <td>{{contact.lastname}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td>{{contact.mail}}</td>
                <td>{{contact.street}}</td>
                <td>{{contact.streetNumber}}</td>
                <td>{{contact.postalCode}}</td>
                <td>{{contact.locality}}</td>
            </tr>
        </tbody>
    </table>
    <div class="table-footer-div">
        <button class="button">
            <svg class="button-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
            </svg>
            <a>Add contact</a>
        </button>
    </div>
</div>

