@import '../../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;

.c-main-div
{
    width: 50%;
    height: fit-content;
    border: 1px solid lighten($background-color, 12%);
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.spinner
{
    width: 2.125rem;
    height: 2.125rem;
    box-sizing: border-box;
    border: 0.5rem solid darken($font-default-green-color, 27%);
    border-top-color: $font-default-green-color;
    border-radius: 50%;
    animation: loading 0.75s linear infinite;
}

@keyframes loading {
    to { transform: rotate(360deg)}
}


