@import '../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;

.c-main-div
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.c-example-div
{
    width: 80%;
    height: fit-content;
    border: 1px solid lighten($background-color, 12%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
}

.c-example-title-div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

label
{
    color: $font-default-color;
    font-size: 1.2rem;
}

.false-window
{
    width: 100%;
    height: fit-content;
    border: 1px solid lighten($background-color, 12%);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: $background-color;
}

.label-bg
{
    font-size: 0.875rem;
    color: $font-default-color;
}

.gradients-div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 0.5rem;
}

.bg0
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: $background-color;
}

.bg1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 3%);
    height: 5rem;
    width: 5rem;
}

.bg2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 6%);
    height: 5rem;
    width: 5rem;
}

.bg3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 9%);
    height: 5rem;
    width: 5rem;
}

.bg4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 12%);
    height: 5rem;
    width: 5rem;
}

.bg5
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 15%);
    height: 5rem;
    width: 5rem;
}

.bg6
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 18%);
    height: 5rem;
    width: 5rem;
}

.bg7
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 21%);
    height: 5rem;
    width: 5rem;
}

.bg8
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 24%);
    height: 5rem;
    width: 5rem;
}

.bg9
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($background-color, 27%);
    height: 5rem;
    width: 5rem;
}