@import '../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;

.c-main-div
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $dark-theme;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.c-example-div
{
    width: 80%;
    height: fit-content;
    border: 1px solid $font-default-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
}

.c-example-title-div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

label
{
    color: $light-font-color-high-emphasis;
    font-size: 1.2rem;
}

.false-window
{
    width: 100%;
    height: fit-content;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: $background-color;
}

.label-bg
{
    font-size: 0.875rem;
    color: $font-default-color;
}

$dark-theme-t00: rgb(21, 31, 41);
$dark-theme-t01: lighten($dark-theme-t00, 3%);
$dark-theme-t02: lighten($dark-theme-t00, 6%);
$dark-theme-t03: lighten($dark-theme-t00, 9%);
$dark-theme-t04: lighten($dark-theme-t00, 12%);
$dark-theme-t05: lighten($dark-theme-t00, 15%);
$dark-theme-t06: lighten($dark-theme-t00, 18%);
$dark-theme-t07: lighten($dark-theme-t00, 21%);
$dark-theme-t08: lighten($dark-theme-t00, 24%);
$dark-theme-t09: lighten($dark-theme-t00, 27%);
$dark-theme-t10: lighten($dark-theme-t00, 30%);
$dark-theme-t11: lighten($dark-theme-t00, 33%);
$dark-theme-t12: lighten($dark-theme-t00, 36%);
$dark-theme-t13: lighten($dark-theme-t00, 39%);
$dark-theme-t14: lighten($dark-theme-t00, 42%);
$dark-theme-t15: lighten($dark-theme-t00, 45%);
$dark-theme-t16: lighten($dark-theme-t00, 48%);

.gradients-div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 0.5rem;
}

$background-color: $dark-theme-d00;

.bg0
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: $dark-theme-d00;
}

.bg1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 3%);
    height: 5rem;
    width: 5rem;
}

.bg2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 6%);
    height: 5rem;
    width: 5rem;
}

.bg3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 9%);
    height: 5rem;
    width: 5rem;
}

.bg4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 12%);
    height: 5rem;
    width: 5rem;
}

.bg5
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 15%);
    height: 5rem;
    width: 5rem;
}

.bg6
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 18%);
    height: 5rem;
    width: 5rem;
}

.bg7
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 21%);
    height: 5rem;
    width: 5rem;
}

.bg8
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 24%);
    height: 5rem;
    width: 5rem;
}

.bg9
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 27%);
    height: 5rem;
    width: 5rem;
}

.bg10
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 30%);
    height: 5rem;
    width: 5rem;
}

.bg11
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 33%);
    height: 5rem;
    width: 5rem;
}

.bg12
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 36%);
    height: 5rem;
    width: 5rem;
}

.bg13
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 39%);
    height: 5rem;
    width: 5rem;
}

.bg14
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 42%);
    height: 5rem;
    width: 5rem;
}

.bg15
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 45%);
    height: 5rem;
    width: 5rem;
}

.bg16
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: lighten($dark-theme-d00, 48%);
    height: 5rem;
    width: 5rem;
}