<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Backgrounds</label>
        </div>
        <div class="false-window">
            <div class="bg0">
                <label class="label-bg">Background: $dark-theme-d00</label>
                <div class="gradients-div">
                    <div class="bg1">
                        <label class="label-bg">lighten: 3%</label>
                    </div>
                    <div class="bg2">
                        <label class="label-bg">lighten: 6%</label>
                    </div>
                    <div class="bg3">
                        <label class="label-bg">lighten: 9%</label>
                    </div>
                    <div class="bg4">
                        <label class="label-bg">lighten: 12%</label>
                    </div>
                    <div class="bg5">
                        <label class="label-bg">lighten: 15%</label>
                    </div>
                    <div class="bg6">
                        <label class="label-bg">lighten: 18%</label>
                    </div>
                    <div class="bg7">
                        <label class="label-bg">lighten: 21%</label>
                    </div>
                    <div class="bg8">
                        <label class="label-bg">lighten: 24%</label>
                    </div>
                    <div class="bg9">
                        <label class="label-bg">lighten: 27%</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
