<div class="c-main-div">
    <button class="button-dropdown">
        <label class="button-dropdown-label">Default</label>
        <div class="button-dropdown-separator"></div>
        <div class="button-dropdown-icon-div">
            <svg class="button-dropdown-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
    </button>
    <button class="button-dropdown-hover">
        <label class="button-dropdown-label-hover">Hover</label>
        <div class="button-dropdown-separator-hover"></div>
        <div class="button-dropdown-icon-div-hover">
            <svg class="button-dropdown-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
    </button>
    <button class="button-dropdown-active">
        <label class="button-dropdown-label-active">Active</label>
        <div class="button-dropdown-separator-active"></div>
        <div class="button-dropdown-icon-div-active">
            <svg class="button-dropdown-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
    </button>
    <button class="button-dropdown-selected">
        <label class="button-dropdown-label-selected">Selected</label>
        <div class="button-dropdown-separator-selected"></div>
        <div class="button-dropdown-icon-div-selected">
            <svg class="button-dropdown-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
    </button>
    <button class="button-dropdown-disabled">
        <label class="button-dropdown-label-disabled">Disabled</label>
        <div class="button-dropdown-separator-disabled"></div>
        <div class="button-dropdown-icon-div-disabled">
            <svg class="button-dropdown-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
    </button>
</div>