<div class="c-main-div">
    <div class="code-input">
        <div class="cmd-line-div">
            <div class="cmd-line-ln">1</div>
            <div class="cmd-line-code">code</div>
        </div>
    </div>
    <div class="code-input">
        <code>
            <pre>
                <div *ngFor="let line of InputCode.Lines; let i=index" class="cmd-line-div">
                    <ng-container *ngIf="line.fullLine === ''">
                        <div class="cmd-line-ln">{{i}}</div>
                        <div class="cmd-line-code">
                            <input  type="text" 
                                class="cmd-input"
                                [(ngModel)]="InputValue"
                                (keydown)="onKeyDown($event)"
                                #inputCmd1>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="line.fullLine !== undefined">
                        <div class="cmd-line-ln">{{i}}</div>
                        <div *ngIf="InputCode.Col < 1" class="cmd-line-code">
                            <input *ngIf="InputCode.Ln === i" 
                                    type="text" 
                                    class="cmd-input"
                                    [(ngModel)]="InputValue"
                                    (keydown)="onKeyDown($event)"
                                    #inputCmd2>
                            <div class="cmd-line-last">{{line.fullLine}}</div>
                        </div>
                        <div *ngIf="InputCode.Col === line.fullLine?.length" class="cmd-line-code">
                            <div class="cmd-line-first">{{line.fullLine}}</div>
                            <input *ngIf="InputCode.Ln === i" 
                                    type="text" 
                                    class="cmd-input"
                                    [(ngModel)]="InputValue"
                                    (keydown)="onKeyDown($event)"
                                    #inputCmd3>
                        </div>
                        <div *ngIf="InputCode.Col !== 0 && InputCode.Col !== line.fullLine?.length" class="cmd-line-code">
                            <div class="cmd-line-first">{{line.fullLine.slice(0, InputCode.Col)}}</div>
                            <input *ngIf="InputCode.Ln === i" 
                                    type="text" 
                                    class="cmd-input"
                                    [(ngModel)]="InputValue"
                                    (keydown)="onKeyDown($event)"
                                    #inputCmd4>
                            <div class="cmd-line-last">{{line.fullLine.substring(InputCode.Col)}}</div>
                        </div>
                    </ng-container>
                    
                </div>
            </pre>
        </code>
    </div>
</div>