<div class="c-main-div">   
    <div class="v-ly">
        <div id="pal-d-1" class="pal">Content</div>
        <div id="pal-d-2" class="pal">Content</div>
        <div id="pal-d-3" class="pal">Content</div>
        <div id="pal-d-4" class="pal">Content</div>
        <div id="pal-d-5" class="pal">Content</div>
        <div id="pal-d-6" class="pal">Content</div>
        <div id="pal-d-7" class="pal">Content</div>
        <div id="pal-d-8" class="pal">Content</div>
        <div id="pal-d-9" class="pal">Content</div>
        <div id="pal-d-10" class="pal">Content</div>
    </div>
    <div class="v-ly">
        <div id="pal-p-1" class="pal-2">Content</div>
        <div id="pal-p-2" class="pal-2">Content</div>
        <div id="pal-p-3" class="pal-2">Content</div>
        <div id="pal-p-4" class="pal-2">Content</div>
        <div id="pal-p-5" class="pal-2">Content</div>
        <div id="pal-p-6" class="pal-2">Content</div>
        <div id="pal-p-7" class="pal-2">Content</div>
        <div id="pal-p-8" class="pal-2">Content</div>
        <div id="pal-p-9" class="pal-2">Content</div>
        <div id="pal-p-10" class="pal-2">Content</div>
    </div>
    <div class="v-ly">
        <div id="pal-m-1" class="pal-3">Content</div>
        <div id="pal-m-2" class="pal-3">Content</div>
        <div id="pal-m-3" class="pal-3">Content</div>
        <div id="pal-m-4" class="pal-3">Content</div>
        <div id="pal-m-5" class="pal-3">Content</div>
        <div id="pal-m-6" class="pal-3">Content</div>
        <div id="pal-m-7" class="pal-3">Content</div>
        <div id="pal-m-8" class="pal-3">Content</div>
        <div id="pal-m-9" class="pal-3">Content</div>
        <div id="pal-m-10" class="pal-3">Content</div>
    </div>
</div>
