<div class="c-main-div">
    <div class="left-div">Breadcrumbs</div>
    <div class="right-div">
        <div class="breadcrumb-div">
            <ng-container *ngFor="let element of routeElement; let i=index">
                <ng-container *ngIf="i !== (routeElement.length - 1)">
                    <label *ngIf="i === 0" class="breadcrumb-first-route-element-label"><a>{{element}}</a></label>
                    <label *ngIf="i !== 0" class="breadcrumb-route-element-label"><a>{{element}}</a></label>
                    <svg class="breadcrumb-right-arrow-icon" 
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 -960 960 960" >
                         <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                    </svg>
                </ng-container>
                <ng-container *ngIf="i === (routeElement.length - 1)">
                    <label class="breadcrumb-last-route-element-label"><a>{{element}}</a></label>
                </ng-container>
            </ng-container>
        </div>
    </div> 
</div>
