<div class="c-main-div">
    <!-- <div class="sidebar-title-div">Sidebar title</div> -->
    <div class="folder-input">
        <input type="file">
    </div>
    <!-- Sidebar navigation list -->
    <ul class="sidebar-main-ul">
        <ng-container *ngFor="let button of sidebarUl.Buttons; let i=index" 
        [ngTemplateOutlet]="buttonTemplate"
        [ngTemplateOutletContext]="{ $implicit: button}"></ng-container>
    </ul>
    <!-- Sidebar footer -->
    <div class="sidebar-footer">
        <div *ngFor="let button of sidebarButtons.Buttons; let i=index">
            <div *ngIf="button.iconPath" class="sidebar-button-logo">
                <svg class="sidebar-button-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960">
                <path [attr.d]="button.iconPath"/>
                </svg>
                <a [routerLink]="button.route ? [button.route] : ['home']" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-button-a">{{button.value}}</a>
            </div>
            <div *ngIf="!button.iconPath" class="sidebar-button-wlogo">
                <a [routerLink]="button.route ? [button.route] : ['home']" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-button-a">{{button.value}}</a>
            </div>
        </div>
    </div>
</div>

<ng-template #buttonTemplate let-button>
    <li class="sidebar-li-group">
        <!-- Li avec Icone et avec expander-->
        <div *ngIf="button.iconPath && button.childs && button.childs.length > 0" 
             [ngClass]="button.isSelected === true ? 'sidebar-li-item-logo-childs-selected' : 'sidebar-li-item-logo-childs'"
             (click)="onClickSideBarButton(button)">
            <svg class="sidebar-li-item-logo"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path [attr.d]="button.iconPath"/>
            </svg>
            <a [routerLink]="button.route ? [button.route] : ['home']" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">{{button.value}}</a>
            <svg *ngIf="button.isExpanded" [ngClass]="{'sidebar-li-item-expander': button.isExpanded && !button.isExpanding, 'sidebar-li-item-expander-expanding': button.isExpanded && button.isExpanding}"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
            <svg *ngIf="!button.isExpanded" [ngClass]="{'sidebar-li-item-expander': !button.isExpanded && !button.isContracting, 'sidebar-li-item-expander-contracting': !button.isExpanded && button.isContracting}"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
            </svg>
        </div>
        <!-- li sans icone et avec expander-->
        <!-- <div *ngIf="!button.iconPath && button.childs && button.childs.length > 0" 
             [ngClass]="button.isSelected === true ? 'sidebar-li-item-wlogo-childs-selected' : 'sidebar-li-item-wlogo-childs'"
             (click)="onClickSideBarButton(button)">
            <a [routerLink]="button.route ? [button.route] : ['home']" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">{{button.value}}</a>
            <svg *ngIf="button.isExpanded" [ngClass]="{'sidebar-li-item-expander': button.isExpanded && !button.isExpanding, 'sidebar-li-item-expander-expanding': button.isExpanded && button.isExpanding}"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
            <svg *ngIf="!button.isExpanded" [ngClass]="{'sidebar-li-item-expander': !button.isExpanded && !button.isContracting, 'sidebar-li-item-expander-contracting': !button.isExpanded && button.isContracting}"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
            </svg>
        </div> -->
        <!-- li avec icone et sans expander-->
        <div *ngIf="button.iconPath && !button.childs" 
             [ngClass]="button.isSelected === true ? 'sidebar-li-item-logo-wchilds-selected' : 'sidebar-li-item-logo-wchilds'"
             (click)="onClickSideBarButton(button)">
            <svg class="sidebar-li-item-logo"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path [attr.d]="button.iconPath"/>
            </svg>
            <a [routerLink]="button.route ? [button.route] : ['home']" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">{{button.value}}</a>
        </div>
        <!-- li sans icone et sans expander-->
        <!-- <div *ngIf="!button.iconPath && !button.childs" 
             [ngClass]="button.isSelected === true ? 'sidebar-li-item-wlogo-wchilds-selected' : 'sidebar-li-item-wlogo-wchilds'"
             (click)="onClickSideBarButton(button)">
            <a [routerLink]="button.route ? [button.route] : ['home']" routerLinkActive="activeButton" ariaCurrentWhenActive="page" class="sidebar-li-item-a">{{button.value}}</a>
        </div> -->
        <!-- div si li selectionné et qu'il a des enfants-->

        <div *ngIf="button.isExpanded && button.childs && button.childs.length > 0" class="sidebar-li-item-childs-div">
            <ng-container>
                <ul class="sidebar-child-ul">
                    <ng-container *ngFor="let childButton of button.childs; let i=index" 
                    [ngTemplateOutlet]="buttonTemplate" 
                    [ngTemplateOutletContext]="{$implicit: childButton}"></ng-container>
                </ul>
            </ng-container>
        </div>           
    </li>
</ng-template>


