<div class="c-main-div">
    <button class="button-dropdown">
        <label class="button-dropdown-label">Default</label>
        <div class="button-dropdown-separator"></div>
        <div class="button-dropdown-icon-div" (click)="onClick()">
            <svg class="button-dropdown-icon" 
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960" >
                 <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
        </div>
        <div *ngIf="isExpanded" class="dropdown-menu">
            <div class="dropdown-menu-family-first">
                <div class="dropdown-menu-element">
                    <label class="drowdown-menu-element-label">Drowndown 1</label>
                </div>
                <div class="dropdown-menu-element">
                    <label class="drowdown-menu-element-label">Drowndown 2</label>
                </div>
                <div class="dropdown-menu-element">
                    <label class="drowdown-menu-element-label">Drowndown 3</label>
                </div>
            </div>
            <div class="dropdown-menu-family">
                <div class="dropdown-menu-element" 
                     (click)="onClickChild(0)"
                     (mouseover)="onHover(0)">
                    <label class="drowdown-menu-element-label">Drowndown arrow 1</label>
                    <svg class="drowdown-menu-element-icon" 
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 -960 960 960" >
                        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                    </svg>
                    <div *ngIf="childs[0].isExpanded" class="dropdown-menu-first-2">
                        <div class="dropdown-menu-family-only">
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 1</label>
                            </div>
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 2</label>
                            </div>
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 3</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu-element" 
                     (click)="onClickChild(1)"
                     (mouseover)="onHover(1)">
                    <label class="drowdown-menu-element-label">Drowndown arrow 2</label>
                    <svg class="drowdown-menu-element-icon" 
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 -960 960 960" >
                        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                    </svg>
                    <div *ngIf="childs[1].isExpanded" class="dropdown-menu-first-2">
                        <div class="dropdown-menu-family-only">
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 1</label>
                            </div>
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 2</label>
                            </div>
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 3</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu-element" 
                     (click)="onClickChild(2)"
                     (mouseover)="onHover(2)">
                    <label class="drowdown-menu-element-label">Drowndown arrow 3</label>
                    <svg class="drowdown-menu-element-icon" 
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 -960 960 960" >
                        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                    </svg>
                    <div *ngIf="childs[2].isExpanded" class="dropdown-menu-first-2">
                        <div class="dropdown-menu-family-only">
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 1</label>
                            </div>
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 2</label>
                            </div>
                            <div class="dropdown-menu-element">
                                <label class="drowdown-menu-element-label">Drowndown 3</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown-menu-family-last">
                <div class="dropdown-menu-element">
                    <label class="drowdown-menu-element-label">Drowndown hint 1</label>
                    <label class="drowdown-menu-element-label-hint">Hint</label>
                </div>
                <div class="dropdown-menu-element">
                    <label class="drowdown-menu-element-label">Drowndown hint 2</label>
                    <label class="drowdown-menu-element-label-hint">Hint</label>
                </div>
                <div class="dropdown-menu-element">
                    <label class="drowdown-menu-element-label">Drowndown hint 3</label>
                    <label class="drowdown-menu-element-label-hint">Hint</label>
                </div>
            </div>
        </div>
    </button>
</div>
