<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Spinners</label>
        </div>
        <div class="false-window">
            <app-spiner-1 class="app-spinners"></app-spiner-1>
        </div>      
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Growers</label>
        </div>
        <div class="false-window">
            <app-spiner-2 class="app-spinners"></app-spiner-2>
        </div>      
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Loader</label>
        </div>
        <div class="false-window">
            <app-spiner-3 class="app-spinners"></app-spiner-3>
        </div>      
    </div>
</div>
