@import "../../../../shared/styles/colors.scss";

.c-main-div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $dark-theme-03;
}

.sidebar-main-ul
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
}

.sidebar-li-group
{
    height: fit-content;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-li-item-logo-childs
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-childs-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(black, 0.5);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-childs:hover
{
    background-color: rgba(black, 0.3);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo-childs:active
{
    background-color: rgba(black, 0.5);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-childs
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-childs-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(black, 0.5);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-childs:hover
{
    background-color: rgba(black, 0.3);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-childs:active
{
    background-color: rgba(black, 0.5);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo-wchilds
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-wchilds-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(black, 0.5);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-wchilds:hover
{
    background-color: rgba(black, 0.3);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo-wchilds:active
{
    background-color: rgba(black, 0.5);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-wchilds
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-wchilds-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(black, 0.5);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-wchilds:hover
{
    background-color: rgba(black, 0.3);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-wchilds:active
{
    background-color: rgba(black, 0.5);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo:hover
{
    background-color: rgba(black, 0.3);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo:active
{
    background-color: rgba(black, 0.5);
    fill: $font-active-color;
    color: $font-active-color;
}

.sidebar-li-item-logo
{
    height: 1.2rem;
    width: 1.2rem;
}

.sidebar-li-item-expander
{
    height: 1.2rem;
    width: 1.2rem;
}

@keyframes rotateExpanding {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateContracting {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sidebar-li-item-expander-expanding
{
    height: 1.2rem;
    width: 1.2rem;
    animation: rotateExpanding 0.5s ease-out;
}

.sidebar-li-item-expander-contracting
{
    height: 1.2rem;
    width: 1.2rem;
    transform: rotate(0deg);
    animation: rotateContracting 0.5s ease-out;
}

.sidebar-li-item-a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    flex-grow: 1;
}

//Childs div-ul ------------------------------------------------------------------------------------------------
.sidebar-li-item-childs-div
{
    width: calc(100% - 1rem);
    padding: 0rem;
    margin: 0rem;
    padding-top: 0rem;
    padding-left: 1rem;
}

.sidebar-child-ul
{
    width: 100%;
    height: fit-content;
    list-style-type: none;
    padding: 0rem;
    border: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
}



