$mixing-factor: 50%;
$dark-theme-surface: #121212;
$dark-theme-00dp: rgba(white, 0);
$dark-theme-01dp: rgba(white, 0.05);
$dark-theme-02dp: rgba(white, 0.10);
$dark-theme-03dp: rgba(white, 0.15);
$dark-theme-04dp: rgba(white, 0.20);
$dark-theme-05dp: rgba(white, 0.25);
$dark-theme-06dp: rgba(white, 0.3);
$dark-theme-07dp: rgba(white, 0.35);
$dark-theme-08dp: rgba(white, 0.4);
$dark-theme-09dp: rgba(white, 0.45);
$dark-theme-10dp: rgba(white, 0.5);

$dark-theme-00: mix($dark-theme-surface, $dark-theme-00dp, $mixing-factor);
$dark-theme-01: mix($dark-theme-surface, $dark-theme-01dp, $mixing-factor);
$dark-theme-02: mix($dark-theme-surface, $dark-theme-02dp, $mixing-factor);
$dark-theme-03: mix($dark-theme-surface, $dark-theme-03dp, $mixing-factor);
$dark-theme-04: mix($dark-theme-surface, $dark-theme-04dp, $mixing-factor);
$dark-theme-05: mix($dark-theme-surface, $dark-theme-05dp, $mixing-factor);
$dark-theme-06: mix($dark-theme-surface, $dark-theme-06dp, $mixing-factor);
$dark-theme-07: mix($dark-theme-surface, $dark-theme-07dp, $mixing-factor);
$dark-theme-08: mix($dark-theme-surface, $dark-theme-08dp, $mixing-factor);
$dark-theme-09: mix($dark-theme-surface, $dark-theme-09dp, $mixing-factor);
$dark-theme-10: mix($dark-theme-surface, $dark-theme-10dp, $mixing-factor);

$primary-color: #bb86fc;
$primary-00dp: rgba($primary-color, 0); //Meme couleur que dark-theme-surface
$primary-01dp: rgba($primary-color, 0.08);//De plus en plus clair
$primary-fdp: rgba($primary-color, 1);

$primary-red: #FF5252;
$primary-red-00: rgba($primary-red, 0.5);

$primary-oranged: #FF6A4D;
$primary-orange: #FC8959;
$primary-light-orange: #FFAF3B;

$primary-green: #48CC90;
$primary-green-00: rgba($primary-green, 0.5);

$primary-blue-green: #5AB8BF;

$primary-blue: #70A3E0;
$primary-bue-00: rgba($primary-blue, 0.5);

$primary-purple: #8981DD;

$error-color: #cf6679;

$light-font-color-high-emphasis: rgba(white, 0.87);
$light-font-color-medium-emphasis: rgba(white, 0.60);
$light-font-color-disabled-emphasis: rgba(white, 0.38);
