$dark-theme-d00: rgb(23, 31, 41);
$primary-color: rgb(79,70,229);
// $dark-theme-d00: #121212;
$dark-theme-l03: lighten($dark-theme-d00, 3%);
$dark-theme-l06: lighten($dark-theme-d00, 6%);
$dark-theme-l09: lighten($dark-theme-d00, 9%);
$dark-theme-l12: lighten($dark-theme-d00, 12%);
$dark-theme-l15: lighten($dark-theme-d00, 15%);
$dark-theme-l18: lighten($dark-theme-d00, 18%);
$dark-theme-l21: lighten($dark-theme-d00, 21%);
$dark-theme-l24: lighten($dark-theme-d00, 24%);
$dark-theme-l27: lighten($dark-theme-d00, 27%);
$dark-theme-l30: lighten($dark-theme-d00, 30%);
$dark-theme-l33: lighten($dark-theme-d00, 33%);
$dark-theme-l36: lighten($dark-theme-d00, 36%);
$dark-theme-l39: lighten($dark-theme-d00, 39%);
$dark-theme-l42: lighten($dark-theme-d00, 42%);
$dark-theme-l45: lighten($dark-theme-d00, 45%);
$dark-theme-l48: lighten($dark-theme-d00, 48%);

$font-default-color: rgba(white, 0.8);
$font-hover-color: rgba(white, 0.9);
$font-active-color: rgba(white, 1);

$font-fam: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

