.li-nb
{
    font-size: 16px;
    height: 1em;
    padding: 0.5em;
    background-color: orangered;
    border-radius: 10px;
}

.li-nb:hover
{
    font-size: 16px;
    height: 1em;
    padding: 0.5em;
    background-color: lightblue;
    border-radius: 10px;
}