<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Sidebar 1</label>
        </div>
        <div class="false-window">
            <div class="false-window-sidebar">
                <app-sidebar1></app-sidebar1>
            </div>
            <div class="false-window-content">
                <div class="false-window-header-div">
                    <div class="blured-content"></div>
                </div>
                <div class="false-window-content-div">
                    <div class="blured-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Sidebar 3</label>
        </div>
        <div class="false-window">
            <div id="side3" class="false-window-sidebar">
                <app-sidebar3></app-sidebar3>
            </div>
            <div class="false-window-content">
                <div class="false-window-header-div">
                    <div class="blured-content"></div>
                </div>
                <div class="false-window-content-div">
                    <div class="blured-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Sidebar 4</label>
        </div>
        <div class="false-window">
            <div class="false-window-sidebar">
                <app-sidebar4></app-sidebar4>
            </div>
            <div class="false-window-content">
                <div class="false-window-header-div">
                    <div class="blured-content"></div>
                </div>
                <div class="false-window-content-div">
                    <div class="blured-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
