@import '../../../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;

.c-main-div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    border: 1px solid lighten($background-color, 12%);
    border-radius: 0.375rem;
    padding: 0.5rem;
    box-sizing: border-box;
    gap: 0.5rem;
}

.icon-button
{
    height: 2.25rem;
    width: 2.25rem;
    padding: 0.3rem;
    inset: -0.375rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $background-color;
    fill: $font-default-color;
    border-radius: 50%;
}

.icon-button:hover
{
    background-color: lighten($background-color, 3%);
    fill: $font-hover-color;
}

.icon-button:active
{
    background-color: lighten($background-color, 6%);
    fill: $font-active-color;
}

.icon-button-hover
{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.3rem;
    inset: -0.375rem;
    cursor: pointer;
    background-color: lighten($background-color, 3%);
    fill: $font-hover-color;
    border-radius: 50%;
}

.icon-button-active
{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.3rem;
    inset: -0.375rem;
    cursor: pointer;
    background-color: lighten($background-color, 6%);
    fill: $font-active-color;
    border-radius: 50%;
}

.icon-button-selected
{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.3rem;
    inset: -0.375rem;
    cursor: pointer;
    background-color: lighten($background-color, 9%);
    fill: $font-active-color;
    border-radius: 50%;
}

.icon-button-disabled
{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.3rem;
    inset: -0.375rem;
    cursor: pointer;
    background-color: $background-color;
    fill: darken($font-active-color, 27%);
    border-radius: 50%;
}