@import "../../../../shared/styles/colors.scss";

$background-color: $dark-theme-l12;

.c-main-div
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    gap: 0px;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.sidebar-header
{
    box-sizing: border-box;
    min-height: 3.5rem;
    width: 100%;
    border-bottom: 1px dashed $font-default-color;
}

.sidebar-footer
{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid lighten($background-color, 27%);
    // // border: 1px solid red;
}

.sidebar-button-logo
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    color: $font-default-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid green;
}

.sidebar-button-icon
{
    height: 1.2rem;
    width: 1.2rem;
    // border: 1px solid yellow;
}

.sidebar-button-a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    flex-grow: 1;
    // border: 1px solid orangered;
}

.sidebar-button-logo:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-button-logo:active
{
    background-color: darken($background-color, 6%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-button-wlogo
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid magenta;
}

.sidebar-button-wlogo:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-button-wlogo:active
{
    background-color: darken($background-color, 6%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-logo-div
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    gap: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.25rem; 
    color: $font-default-color;
    background-color: transparent;
}

.sidebar-logo
{
    height: 36px;
    width: 36px;
}

.st0
{
    fill:#DD0031;
}
        
.st1
{
    fill:#C3002F;
}

.st2
{
    fill:#FFFFFF;
}

.sidebar-main-ul
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
    flex-grow: 1;
    border-radius: 0.375rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.sidebar-main-ul::-webkit-scrollbar {

    background-color: transparent;
    width: 0.6rem;

}

.sidebar-main-ul::-webkit-scrollbar-thumb {

    background-color: darken($background-color, 6%);
    color: darken($background-color, 6%);
    fill: darken($background-color, 6%);
    border-radius: 0.3rem;
}

.sidebar-main-ul::-webkit-scrollbar-track {

    background-color: transparent;
    
}

.sidebar-li-group
{
    height: fit-content;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-li-item-logo-childs
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-childs-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: darken($background-color, 9%);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-childs:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo-childs:active
{
    background-color: darken($background-color, 6%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-childs
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-childs-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: darken($background-color, 9%);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-childs:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-childs:active
{
    background-color: darken($background-color, 6%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo-wchilds
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-wchilds-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: darken($background-color, 9%);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-logo-wchilds:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo-wchilds:active
{
    background-color: darken($background-color, 6%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-wchilds
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $font-default-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-wchilds-selected
{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: darken($background-color, 9%);
    color: $font-active-color;
    fill: $font-default-color;
    // border: 1px solid lightgray;
}

.sidebar-li-item-wlogo-wchilds:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-wlogo-wchilds:active
{
    background-color: darken($background-color, 6%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo:hover
{
    background-color: darken($background-color, 3%);
    fill: $font-hover-color;
    color: $font-hover-color;
}

.sidebar-li-item-logo:active
{
    background-color: darken($background-color, 6%);
    fill: $font-active-color;
    color: $font-active-color;
}

.sidebar-li-item-logo
{
    height: 1.2rem;
    width: 1.2rem;
}

.sidebar-li-item-expander
{
    height: 1.2rem;
    width: 1.2rem;
}

@keyframes rotateExpanding {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateContracting {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sidebar-li-item-expander-expanding
{
    height: 1.2rem;
    width: 1.2rem;
    animation: rotateExpanding 0.5s ease-out;
}

.sidebar-li-item-expander-contracting
{
    height: 1.2rem;
    width: 1.2rem;
    transform: rotate(0deg);
    animation: rotateContracting 0.5s ease-out;
}

.sidebar-li-item-a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    flex-grow: 1;
}

//Childs div-ul ------------------------------------------------------------------------------------------------
.sidebar-li-item-childs-div
{
    width: calc(100% - 1rem);
    padding: 0rem;
    margin: 0rem;
    padding-top: 0rem;
    padding-left: 1rem;
}

.sidebar-child-ul
{
    width: 100%;
    height: fit-content;
    list-style-type: none;
    padding: 0rem;
    border: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
}



