<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Inputs</label>
        </div>
        <div class="false-window">
            <app-input-1 class="input"></app-input-1>
            <app-input-2 class="input"></app-input-2>
            <app-input-3 class="input"></app-input-3>
            <app-input-4 class="input"></app-input-4>
            <app-input-5 class="input"></app-input-5>
            <app-input-6 class="input"></app-input-6>
            <app-input-7 class="input"></app-input-7>
            <app-input-8 class="input"></app-input-8>
            <app-input-9 class="input"></app-input-9>
        </div>
    </div>
</div>

