<div class="c-main-div">
    <div class="left-div">
        <label class="label-2">Background color: lighten 15%</label>
    </div>
    <div class="right-div">
        <button class="button">
            <a>Default</a>
        </button>
        <button class="button-hover">
            <a>Hover</a>
        </button>
        <button class="button-active">
            <a>Active</a>
        </button>
        <button class="button-selected">
            <a>Selected</a>
        </button>
        <button class="button-disabled">
            <a>Disabled</a>
        </button>
    </div>
</div>

