<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Buttons color states</label>
        </div>
        <div class="false-window">
            <app-button-1 class="app-button"></app-button-1>
            <app-button-2 class="app-button"></app-button-2>
            <app-button-3 class="app-button"></app-button-3>
            <app-button-4 class="app-button"></app-button-4>
            <app-button-5 class="app-button"></app-button-5>
            <app-button-6 class="app-button"></app-button-6>
            <app-button-7 class="app-button"></app-button-7>
            <app-button-8 class="app-button"></app-button-8>
            <app-button-9 class="app-button"></app-button-9>
            <app-button-10 class="app-button"></app-button-10>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Buttons with icons</label>
        </div>
        <div class="false-window">
            <div class="blured-content-4">

            </div>
        </div>      
    </div>
</div>
