@import '../../../shared/styles/colors.scss';

$background-color: $dark-theme-d00;
$background-color-2: $dark-theme-l03;
$background-color-3: $dark-theme-l06;
$background-color-4: $dark-theme-l09;
$background-color-5: $dark-theme-l12;
$background-color-6: $dark-theme-l15;
$background-color-7: $dark-theme-l18;
$background-color-8: $dark-theme-l21;
$background-color-9: $dark-theme-l24;
$background-color-10: $dark-theme-l27;
$background-color-11: $dark-theme-l30;
$background-color-12: $dark-theme-l33;
$background-color-13: $dark-theme-l36;
$background-color-14: $dark-theme-l39;
$background-color-15: $dark-theme-l42;
$background-color-16: $dark-theme-l45;

.c-main-div
{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.c-example-div
{
    width: 80%;
    height: fit-content;
    border: 1px solid $dark-theme-l12;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
}

.c-example-title-div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

label
{
    color: $font-default-color;
    font-size: 1.2rem;
}

.false-window
{
    width: 100%;
    height: fit-content;
    border: 1px solid $dark-theme-l12;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.app-button
{
    width: 100%;
}






