<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Buttons</label>
        </div>
        <div class="false-window">
            <div class="blured-content-1">
                <div class="left-div">
                    <label class="label-2">Background color: $dark-theme-d00</label>
                </div>
                <div class="right-div">
                    <div class="col-div">
                        <button class="button-1">
                            <a>Default</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-hover-1">
                            <a>Hover</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-active-1">
                            <a>Active</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-selected-1">
                            <a>Selected</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-disabled-1">
                            <a>Disabled</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="blured-content-2">
                <div class="left-div">
                    <label class="label-2">Background color: lighten 3%</label>
                </div>
                <div class="right-div">
                    <div class="col-div">
                        <button class="button-2">
                            <a>Default</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-hover-2">
                            <a>Hover</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-active-2">
                            <a>Active</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-selected-2">
                            <a>Selected</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-disabled-2">
                            <a>Disabled</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="blured-content-3">
                <div class="left-div">
                    <label class="label-2">Background color: lighten 6%</label>
                </div>
                <div class="right-div">
                    <div class="col-div">
                        <button class="button-3">
                            <a>Default</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-hover-3">
                            <a>Hover</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-active-3">
                            <a>Active</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-selected-3">
                            <a>Selected</a>
                        </button>
                    </div>
                    <div class="col-div">
                        <button class="button-disabled-3">
                            <a>Disabled</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Buttons with icons</label>
        </div>
        <div class="false-window">
            <div class="blured-content-4">

            </div>
        </div>      
    </div>
</div>
