<div class="c-main-div">
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Progress bar</label>
        </div>
        <div class="false-window">
            <app-progress-1 class="app-progress"></app-progress-1>
        </div>      
    </div>
    <div class="c-example-div">
        <div class="c-example-title-div">
            <label>Progress bar with animation</label>
        </div>
        <div class="false-window-row">
            <app-progress-2 #progress class="app-progress"></app-progress-2>
            <button class="button">
                <a>Test</a>
            </button>
        </div>      
    </div>
</div>